* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sch_name{
    margin-left: 45px;
    font-size: 30px;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
}
.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 150px;
    color: white;
    font-size: 23px;
    cursor: pointer;      
}
.signup{
    margin-right: 12px;
    padding: 8px;
    width: 100px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 180, 192);
    color: white;
    border-radius: 3px;
}
.signin{
    margin-right: 25px;
    padding: 8px;
    width: 100px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 3px;   
}
.link1{
    margin-left: 12px;
    color: white;
    text-decoration: none;
}
.link2{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.link3{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.link4{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.signup:hover{
    background-color: rgb(29, 5, 165);
    transition: 0.2s;
    color: white;    
}
.signin:hover{
    background-color: crimson;
    transition: 0.2s;
    color: white;
}
.footer_content{
    margin-top: 62px;
    background-color:  black;
    height: 71px;
    color: white;
    font-size: 22px;
}
.footer1{
    margin-left: 12px;
    color: white;
    text-decoration: none;
}
.footer2{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.footer3{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.footer4{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
.footer_links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 150px;
    color: white;
    font-size: 23px;
    cursor: pointer; 
    margin-left: 150px;       
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.greetings{
    color: rgb(238, 10, 143);
    margin-top: 130px; 
}
.greeting_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 1005px;
    margin-left: 180px;
    margin-top: 30px;
    line-height: 28px;
    color: white;
    
}
.greeting_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white; 
    font-weight: bold;

}
.learn{
    margin-left: 600px;
    margin-top: 30px;
    padding: 10px;
    width: 130px;
    border: none;
    font-size: 17px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.learn:hover{
    background-color: blue;
    transition: 0.2s;
}
.signup_container{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.signup_subcontainer{
    background: white;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 330px;
    height: 470px;
    
    
}

.close_btn{
    margin-left: 310px; 
    border: none; 
    font-size: 25px; 
    background-color: white;
    cursor: pointer;

}
.signup_title{
    margin-left: 100px;
    margin-bottom: 15px;
    
    
}
.heading_lastpart{
    line-height: 25px;
}
.Firstname, .Email, .Surname, .Password {
    font-size: 18px; 
}


.Firstname_input, .Surname_input, .Email_input, .Password_input{
    padding: 7px;
    border-radius: 3px;
    width: 250px;
    margin-bottom: 20px;
    font-size: 15px;
    
}
.submit{
    margin-top: 20px;
    padding: 8px;
    width: 265px;
    background-color: blue;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    
}
.heading_input{
    padding: 20px;
    margin-left: 18px; 
}
.submit:hover{
    background-color: #4CAF50;
    transition: 0.3s;
}
.close_btn:hover{
    color: red;
}
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input[type="text"]:focus{
    border-color: #4CAF50;
    outline: none;
}
input[type="password"]:focus{
    border-color: #4CAF50;
    outline: none;
}

.signin_container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.signin_subcontainer{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-width: 400px;
    width: 330px;
    height: 450px;
    
    
}
.close_bttn{
    background-color: white;
    border: none;
    margin-left: 310px;
    font-size: 25px;
    cursor: pointer;
}
.close_bttn:hover{
    color: red;
}
.signin_excludeX{
    padding: 30px;
}
.signin_heading{
    margin-left: 70px;
    margin-bottom: 20px;
}
.signin_email {
    margin-bottom: 10px;
}
.signin_password{
    margin-bottom: 8px;
}
.forget_rem{
    margin-bottom: 15px;
}
.text{
    font-size: 20px;
}
.signin_btn{
    margin-bottom: 20px;
    padding: 8px;
    width: 265px;
    background-color: blue;
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    
}
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px;
    width: 265px;
}
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px;
    width: 265px;
}
.rememberMe{
    margin-left: 50px;
}
.signin_btn:hover{
    background-color: #4CAF50;
    transition: 0.3s;
}
.remember_me{
    cursor: pointer;
    
}
.account_signup{
    cursor: pointer;
}
.messageDiv{
    background-color: hsl(327, 90%, 28%);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;


}